@charset "UTF-8";

html,
body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: #34495e;
}



.main {
   height: 100%;
   transition-property: transform;
   -webkit-transition-property: transform;
   -moz-transition-property: transform;
   transition-duration: 1000ms;
   -webkit-transition-duration:  1000ms;
   -moz-transition-duration: 1000ms;
   transition-delay: 200ms;
   -webkit-transition-delay: 200ms;
   -moz-transition-delay: 200ms;
   transition-timing-function: ease-in-out;
   -webkit-transition-timing-function: ease-in-out;
   -moz-transition-timing-function: ease-in-out;
}

.row {
   margin: 2% auto;
}


.slave_con {
   border-radius: 5%;
   -moz-border-radius: 5%;
   -webkit-border-radius:5%;

   border: black solid 5px;
   padding: 10px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: auto 5%;

   border: 2px solid black;
   background-color: #b8c6db;
   background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
   background-image: -moz-linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
   background-image: -webkit-linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);

}

.slave_con .ui-accordion-header {
   background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
   background-image: -moz-linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
   background-image: -webkit-linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
   border: 1px solid black;
   color: black;
}


.slave {
   flex: 8;
   border: black 1px solid;
   display: flex;
   justify-content: center;
   flex-flow: row nowrap;
}

.slave-id {
   flex: 1;
   flex-basis: 5%;
   overflow: hidden;
   padding: 0;
   margin: 0;
   border: 1px solid black;
   text-align: center;
   background-color: #ffffff;
   background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
   background-image: -moz-linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
   background-image: -webkit-linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.slave-id-label {
   padding: 0;
   margin: 0;
   writing-mode: vertical-rl;
   text-orientation: mixed;
   text-align: center;
   display: block;
}

.card-error-code {
   padding: 0;
   display: block;
   margin-top: 20%;
   text-align: center;
   font-size: 75%;
   font-weight: bold;
}
.slave-id-label-marker {
   font-size: inherit;
}





/***************************************** CARD *****************************************/


.select-card-marker {
   font-size: inherit;
}

.card {
   flex: 0 1 20px;
   display: flex;
   flex-wrap: wrap;
 /*zapewnia minimalna wysokosc karty gdy IO sa ukryte*/
   min-height: 10vw;
   margin: 5px;
   padding: 10px;
   border: 1px black solid;
   background-color: #ed1553;
   z-index: 1;
   border-radius: 10px;
}

.add-new-slave-button {
   color: black !important;
   margin: 2% auto !important;
   border: 2px solid black !important;
}

.card-type {
   flex: 1;
}

.card-type p {
   text-align: center;
   margin: 0;
   padding: 0;
}

/***************************************** CARD IO *****************************************/

.io {
   border: solid black 1px;
   flex: 1;
   margin-bottom: 2%;
   padding: 5px;
   background-color: rgb(167, 164, 164);
   box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.4);
   transition: all 0.5 ease-in-out;
   -webkit-transition: all 0.5 ease-in-out;
   -moz-transition:  all 0.5 ease-in-out;
   transition-timing-function: easy-in-out;
   -webkit-transition-timing-function: easy-in-out;
   -moz-transition-timing-function: easy-in-out;
}

.io:hover {
   box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

.io-list {
   display: grid;
   grid-template-rows: repeat(5, 1fr);
   grid-auto-flow: column;
   list-style-type: none;
   margin: 0;
   padding-bottom: 10%;
   grid-gap: 2%;
}

.io-list li.io>p {
   display: inline-block;
   margin: 0;
   color: black;
}

.io-lock {
   font-size: inherit;
}

.io-selected {
   background-color: #93f542;
}

/***************************************** SIDE PANNEL *****************************************/
    
.shift-right {
   transform: translate(24%, 0);
}

.open {
   transform: translate(88%, 0);
}

#open-curtain-button {
   font-size: inherit;
}

.curtain {
   position: fixed;
   width: 30vw;
   height: 100%;
   background-color: rgb(255, 251, 247);
   z-index: 10;
   top: 0;
   left: -27%;
   transition-property: transform;
   -webkit-transition-property:  transform;
   -moz-transition-property:  transform;
   transition-duration: 1000ms;
   -webkit-transition-duration: 1000ms;
   -moz-transition-duration: 1000ms;
   transition-delay: 200ms;
   -webkit-transition-delay: 200ms;
   -moz-transition-delay: 200ms;
   transition-timing-function: ease-in-out;
   -webkit-transition-timing-function: ease-in-out;
   -moz-transition-timing-function: ease-in-out;
}

#io-selection-bar {
   position: relative;
   height: 10vh;
}

#slected-ios-list {
   position: absolute;
   z-index: 5;
   width: 100%;
}

#slave-selection-list {
   min-width: 50%;
   max-width: 90%;
}

.menu-section {
   margin: auto 5%;
}

.menu-section h {
   display: block;
   text-align: left;
}

.io-list-entry p {
   display: inline;
   margin: 5px;
}

.io-list-entry p:nth-child(1):before {
   content: "io: ";
}

.io-list-entry p:nth-child(2):before {
   content: "card: ";
}

 /*klasy wtyczki validation */
label.error {
   color: #F00;
   font-weight: bold;
   font-style: italic;
   font-size: 0.75em;
}

    /*w przypadku dodawanie customowych errow przewaza ustawienie display: none
    dlatego utworzylem customowa klase error */
.error-custom {
   color: #F00;
   font-weight: bold;
   font-style: italic;
   font-size: 0.75em;
}

.belt {
   background: repeating-linear-gradient( 45deg, rgb(0, 0, 0) 0, rgb(0, 0, 0) 10px, #FC0 10px, #FC0 20px);
   min-height: 100vh;
   border: 2px solid black;
}
    /* important jest tu konieczne zeby nadpisac styl framweroka skeleton, ktory jest dodawany na koncu
  prze co nadpisuje moje ustawienia */

#commit-all-button {
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7) !important;
   transition: 0.5s !important;
   -webkit-transition: 0.5s !important;
   -moz-transition:  0.5s !important;
   transition-property: background-color, color !important;
   -webkit-transition-property: background-color, color !important;
   -moz-transition-property: background-color, color !important;
   background: linear-gradient(90deg, transparent, #2196f3) !important;
   background: -webkit-linear-gradient(90deg, transparent, #2196f3) !important;
   background: -moz-linear-gradient(90deg, transparent, #2196f3) !important;
   margin: 15% auto !important;
}

#commit-all-button:hover {
   background-color: #21b8f3 !important;
   box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.5) !important;
   transition-delay: 0.1s !important;
   -webkit-transition-delay: 0.1s !important;
   -moz-transition-delay: 0.1s !important;
}

#side-menu-pannel input[type="button"] {
   display: block;
   margin: 2% auto;
   border: 2px solid black;
}

#side-menu-pannel input[type="text"],
select {
   border: 1px solid black;
}





/***************************************** SERVICE SUMMARY RAPORT *****************************************/
.slave-additional-info-container {
   text-align:center;
}

.slave-additional-info {
   display:inline-block;
   font-weight: bold;
   margin: auto 10%;
}

.slave-additional-info p {
   font-size: 1em;
   font-style: italic;
   font-weight: lighter;
}

.task-summary-raport {
   margin: 10%;
   border: 2px dashed black !important;
}

.slave-summary-raport {
   border: 1px solid black;
   margin-top: 5%;
   margin-bottom: 5%;
   /*posotion relative dodane aby umiescic przycisk zamykajacy raport w prawym gornym rogu (patrz klasa:delete-raport-button) */
   position: relative;
   padding: 3%;
}

/* klasy znacznikowe do oznaczenia labelek z nazwa topicu i taska */
.summary-raport-topic-marker {
   font-size: inherit;
}

.summary-raport-task-marker {
   font-size: inherit;
}

.summary-raport-service-name-marker {
   font-size: inherit;
}

.slave-summary-raport > div > p {
   margin: 0;
   padding: 0;
   display: inline;
   font-size: 1em;
   font-style: italic;
}

.slave-summary-raport h {
   display: inline;
   font-size: 1em;
   font-weight: bold;
}

.delete-raport-button {
   width: 20px;
   height: 20px;
   position: absolute;
   top: 5px;
   right: 5px;
   opacity: 0.5;
   border: 1px solid black;
   border-radius: 2px;
}

.delete-raport-button:hover {
   opacity: 1;
}

.delete-raport-button:before,
.delete-raport-button:after {
   position: absolute;
   content: ' ';
   left: 10px;
   top: 0px;
   height: 20px;
   width: 2px;
   background-color: #333;
}

.delete-raport-button:before {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
}

.delete-raport-button:after {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
}

   /***************************************** EFFECTS *****************************************/

.blink {
   box-shadow: rgba(0, 0, 0, 0.2) 0 1px 7px 1px;
   -webkit-animation: blinkYellow 2s infinite;
   -moz-animation: blinkYellow 2s infinite;
   -ms-animation: blinkYellow 2s infinite;
   -o-animation: blinkYellow 2s infinite;
   animation: blinkYellow 2s infinite;
}

@-moz-keyframes blinkYellow {
   from {
       background-color: #FF0;
   }
   50% {
       background-color: #AA0;
   }
   to {
       background-color: #FF0;
   }
}

@keyframes blinkYellow {
   from {
       background-color: #FF0;
   }
   50% {
       background-color: #AA0;
   }
   to {
       background-color: #FF0;
   }
}

.pulsing {
   box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
   transform: scale(1);
   animation: pulse 2s infinite;
}

@keyframes pulse {
   0% {
       transform: scale(0.95);
       box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
   }
   70% {
       transform: scale(1);
       box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
   }
   100% {
       transform: scale(0.95);
       box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   }
}

.new-slave-marker {
   background-color: #89d8d3;
   background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
   background-image: -webkit-linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
   background-image: -moz-linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.item-disabled {
   opacity: 0.5;
   background-color: rgba(0, 0, 0, 0.2);
}

.slave-bad-state-marker {
   background-color: #6b0f1a;
   background-image: -webkit-linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
   background-image: -moz-linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

.slave-bad-state-error-message {
   display: block;
   padding: 0;
   margin: 0;
   color: red;
   text-align: center;
}




#loading {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 100%;
   background-color: white;
 }


 #loading img {
     display:block;
     padding:0;
     margin: 0 auto;
 }

 #loading h {
     display: block;
     text-align: center;
     font-size: 4rem;
     font-family: Arial, Helvetica, sans-serif;
     font-style: italic;
 }

 #loading div {
     position: relative;
     top:25%;
 }